/* PublisherCard.module.css */

.link {
    text-decoration: none;
  }
  
  .card {
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
  